/*  Main Styles File.
 *  We should put our main page layout stuff in here so we can have all sorts
 * of standard css library goodness and keep our components separate
*/
@import "globals";

body {
  background-color: $bg_primary;
  color: $c_primary;
}
